<div
  class="modal fade"
  id="modal-eliminar-autor"
  tabindex="-1"
  aria-labelledby="modal-eliminar-autor-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="modal-eliminar-autor-form" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="modal-eliminar-autor-label">
            Realmente desea eliminar el autor
          </h1>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <p class="m-3">
            <strong id="modal-eliminar-autor-codigo"></strong>:
            <span id="modal-eliminar-autor-nombre"></span>
            (<span id="modal-eliminar-autor-nacionalidad"></span>)
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            data-toggle="loader"
          >
            Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% block scripts %}
<script>
  const myModalEl = document.getElementById("modal-eliminar-autor");
  const form = document.getElementById("modal-eliminar-autor-form");
  const codigoAutorEl = document.getElementById("modal-eliminar-autor-codigo");
  const nombreAutorEl = document.getElementById("modal-eliminar-autor-nombre");
  const nacionalidadAutorEl = document.getElementById("modal-eliminar-autor-nacionalidad");

  myModalEl.addEventListener("show.bs.modal", (event) => {
    // Show Selected Autor Info
    const data = event.relatedTarget.dataset;
    const { codigoAutor, nombreAutor, nacionalidadAutor } = data;

    codigoAutorEl.textContent = codigoAutor;
    nombreAutorEl.textContent = nombreAutor;
    nacionalidadAutorEl.textContent = nacionalidadAutor;

    // Set form action value
    const actionTemplate = "{% url 'eliminarAutor' ':codigo' %}";
    form.action = actionTemplate.replace(":codigo", codigoAutor);
  });

  myModalEl.addEventListener("hide.bs.modal", (event) => {
    codigoAutorEl.textContent = "";
    nombreAutorEl.textContent = "";
    nacionalidadAutorEl.textContent = "";
    form.action = "#";
  });
</script>
{% endblock %}
