{% extends "layout/base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h1>Lista de Autores</h1>

  <a href="{% url 'agregarAutor' %}" class="btn btn-primary">Agregar Autor</a>
</div>

<hr />

{% if autores|length > 0 %}
<div class="table-responsive overflow-y-auto position-relative">
  <table id="table-autores" class="table table-striped table-hover align-middle text-center mb-0">
    <thead class="shadow-sm align-middle">
      <tr>
        <th>Codigo Autor</th>
        <th>Nombre Autor</th>
        <th>Nacionalidad</th>
        <th class="text-end" data-sortable="false">
          <span class="d-none d-md-inline">Operaciones</span>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for autor in autores %}
      <tr>
        <td>{{autor.codigo_autor}}</td>
        <td>{{autor.nombre_autor}}</td>
        <td>{{autor.nacionalidad}}</td>
        <td>
          <div class="d-flex flex-wrap flex-sm-nowrap gap-2 justify-content-end">
            <a
              href="{% url 'editarAutor' autor.codigo_autor %}"
              class="btn btn-sm btn-primary"
            >
              <i class="bi bi-pencil"></i>
              <span class="ms-1 d-none d-md-inline">Editar</span>
            </a>
            <button
              class="btn btn-sm btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#modal-eliminar-autor"
              data-codigo-autor="{{autor.codigo_autor}}"
              data-info-autor="{{autor}}"
              data-libros-autor="{{autor.libros.count}}"
            >
              <i class="bi bi-trash3"></i>
              <span class="ms-1 d-none d-md-inline">Borrar</span>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'autores/eliminarModal.html' %}

{% else %}

<div class="card">
  <div class="card-body py-5 text-center">
    <i class="bi bi-exclamation-circle"></i> 
    <span>No hay autores para mostrar</span>
  </div>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
<script>setupDataTable("#table-autores");</script>
{% endblock %}