{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h1>Lista de Generos</h1>

  <a href="{% url 'agregarGenero' %}" class="btn btn-primary">Agregar Genero</a>
</div>

<hr />

<p>Total: {{ generos|length }} Autor{{ generos|length|pluralize:"es" }}</p>

{% if generos|length > 0 %}
<div
  class="table-responsive overflow-y-auto position-relative"
  style="max-height: 60dvh"
>
  <table class="table table-striped table-hover align-middle">
    <thead class="position-sticky top-0 shadow align-middle">
      <tr>
        <th>Codigo Autor</th>
        <th class="text-center">Nombre Autor</th>
        <th class="text-center">Nacionalidad</th>
        <th class="text-end" >
          <span class="d-none d-md-inline">Operaciones</span>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for genero in generos %}
      <tr>
        <td class="text-center">{{genero.id_genero}}</td>
        <td class="text-center">{{genero.nombre_genero}}</td>
        <td class="text-center">{{genero.descripcion}}</td>
        <td class="d-flex flex-wrap flex-sm-nowrap gap-2 justify-content-end">
          <a
            href="{% url 'editarGenero' genero.id_genero %}"
            class="btn btn-sm btn-primary"
          >
            <i class="bi bi-pencil"></i>
            <span class="ms-1 d-none d-md-inline">Editar</span>
          </a>
          <button
            class="btn btn-sm btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#eliminarGeneroModal"
            data-id-genero="{{genero.id_genero}}"
            data-nombre-genero="{{genero.nombre_genero}}"
            data-descripcion-genero="{{genero.descripcion}}"
          >
            <i class="bi bi-trash3"></i>
            <span class="ms-1 d-none d-md-inline">Borrar</span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'generos/eliminarModal.html' %}

{% else %}

<div class="card">
  <div class="card-body py-5 text-center">
    <i class="bi bi-exclamation-circle"></i> 
    <span>No hay generos para mostrar</span>
  </div>
</div>

{% endif %}

{% endblock %}
