<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Biblioteca MVC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          {% url 'listarAutores' as autoresUrl %}
          <a class="nav-link {% if autoresUrl in request.path %}active{% endif %}" href="{{autoresUrl}}">Autores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
