{% load widget_tweaks %} 

{% for field in form %}
  <div class="mb-3">
    <label
      class="form-label"
      for="{{ field.id_for_label }}"
    >
      {{field.label}}
      {% if field.field.required %} *{% endif %}
    </label>

    <div class="input-group ">
      {% if field.field.prefix %}
        <span class="input-group-text">{{field.field.prefix}}</span>
      {% endif %} 
      
      {{ field|add_class:"form-control"|add_error_class:"is-invalid" }}
      
      {% if field.field.sufix %}
        <span class="input-group-text">{{field.field.sufix}}</span>
      {% endif %} 
    </div>

    {% if field.help_text %}
      <div class="form-text">
        {{field.help_text}}
      </div>
    {% endif %}

    {% if field.errors %}
      <div class="invalid-feedback d-block">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor%}
      </div>
    {% endif %}
  </div>
{% endfor %}

